
.vs/CSC430_Payroll/v15/.suo
.vs/CSC430_Payroll/v15/Server/sqlite3/db.lock
.vs/CSC430_Payroll/v15/Server/sqlite3/storage.ide
.vs/CSC430_Payroll/v15/Server/sqlite3/storage.ide-shm
.vs/CSC430_Payroll/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
CSC430_Payroll/obj/Debug/CSC430_Payroll.pdb
CSC430_Payroll/obj/Debug/CSC430_Payroll.exe
CSC430_Payroll/bin/Debug/CSC430_Payroll.pdb
CSC430_Payroll/bin/Debug/CSC430_Payroll.exe
CSC430_Payroll/obj/Debug/CSC430_Payroll.csproj.GenerateResource.Cache
